[submodule "bonita-distrib"]
	path = bonita-distrib
	url = https://github.com/bonitasoft/bonita-distrib.git
[submodule "connectors/bonita-connector-rest"]
	path = connectors/bonita-connector-rest
	url = https://github.com/bonitasoft/bonita-connector-rest.git
[submodule "bonita-engine"]
	path = bonita-engine
	url = https://github.com/bonitasoft/bonita-engine.git
[submodule "bonita-web"]
	path = bonita-web
	url = https://github.com/bonitasoft/bonita-web.git
[submodule "bonita-web-extensions"]
	path = bonita-web-extensions
	url = https://github.com/bonitasoft/bonita-web-extensions.git
